[general]
jobname         = "DMFT"                  # The job name of the simulation.
location        = "."                     # The directory where the simulation is run. (default: '.')
tmpdir          = ".tmp/"                 # The directory where temporary files are stored. (default: '.tmp/')
output          = "out.h5"                # The name of the output file. (default: 'out.h5')
n_loops         = 100                     # The total number of iterations to perform.
load_iter       = 0                       # Continue from specific iteration (-1 for last iteration, 0 for restart).
# Model parameters
lattice         = "bethe"                 # The lattice type.
gf_struct       = [["up", 1], ["dn", 1]]  # The structure of the Greens function.
half_bandwidth  = 1.0                     # The half bandwidth of the non-interacting model.
eps             = 0.0                     # The on-site energies of the components.
h_field         = 0.0                     # The magnetic field of the components.
u               = 1.0                     # The Hubbard interaction strength (Coulomb repulsion) of the components.
mu              = 0.0                     # The chemical potential.
occ             = 0.5                     # The target total occupation number.
beta            = 20                      # The inverse temperature.
# Mesh parameters
n_iw            = 1024                    # Number of Matsubara frequencies.
eta             = 0.0                     # Complex broadening.
# DMFT parameters
mixing_dmft     = 1.0                     # Mixing of the DMFT self energy.
mixing_min      = 0.1                     # Minimum mixing of the DMFT self energy.
mixing_decay    = 0.5                     # Decay rate of the mixing parameter.
gtol            = 1e-4                    # Convergence tolerance for the coherent Green's function.
stol            = 1e-3                    # Convergence tolerance for the self energy.
n_conv          = 2                       # Number of iterations for convergence (default: 1)

[solver]
type            = "cthyb"                 # Solver used to solve the impurity problem.
n_warmup_cycles = 500_000                 # Number of warmup cycles (default: 1_000)
n_cycles        = 5_000_000               # Number of Quantum Monte Carlo cycles (default 10_000)
length_cycle    = 200                     # Length of the cycle (default: 100)
n_tau           = 10001                   # Number of imaginary time steps. (default: 10001)
rebin_tau       = 5001                    # Rebin imaginary time steps to this number (default: n_tau)
crm_dyson       = true                    # Use CRM Dyson solver (optional)
# crm_wmax        = 1.0                     # Spectral width for CRM (optional)
crm_eps         = 1e-6                    # DLR representation accuracy (default: 1e-6)
crm_wmax_start  = 1.0                     # Starting wmax for optimization (example)
crm_wmax_end    = 4.0                     # Ending wmax for optimization (example)
crm_wmax_step   = 0.1                     # Step size for wmax search (default: 0.1)
crm_iw_stop     = 50                      # Index of iw up to which to compute error (default: 50)
crm_tol         = 0.01                    # Relative tolerance for wmax optimization (default: 0.01)
crm_consec      = 2                       # Consecutive tolerance count to stop (default: 2)
# measure_g_l     = true                    # Measure G_l (Legendre) (default: false)
# legendre_fit    = true                    # Fit using Legendre representation (default: false)
# # n_l             = 30                      # Number of Legendre polynomials (optional)
# nl_max          = 100                     # Maximum number of Legendre polynomials (default: 100)
# legendre_iw_stop= 50                      # Index of iw up to which to compute error (default: 50)
# legendre_tol    = 0.01                    # Relative tolerance for Legendre n_l optimization (default: 0.01)
# legendre_consec = 1                       # Consecutive tolerance count to stop (default: 1)
